.select_box{
    margin-bottom: 20px;
  }

  .success-label{
    color:green;
  }

  .error-label{
    color:red;
  }

  .profileh1{
    text-align: center;
    margin-bottom: 15px;
  }

  .change_pass_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    /* padding: 30px; */
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    margin: auto;
    
  }
  
  .change_h2 {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 50px;
  } 

  .nav-link {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover{
    background-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);
  }

  .cp_headSignUp {
    margin-bottom: 40px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%); 
    height: auto;
    border-radius: 5px 5px 0 0;
    z-index: 0;
    height: 10px;
    width: 100%;
  }

  .change_pass_form h2 {
    font-size: auto;
    margin-bottom: 30px;
  }

  .change_pass_label,.login_pass {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: auto;
  }
  
  .change_pass_input {
    
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
  }
  
  .change_pass_button {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  .demo{
    margin-top: 20px;

    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  .demo:hover {
    background-color: #3e8e41;
  }
  
  .change_pass_button:hover {
    background-color: #3e8e41;
  }

