.fuelinput {
  display: flex;
  /* background: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  /* padding: 30px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  margin: auto;
}

.outdiv {
  width: 70%;
}

.empty {
  margin-top: 50px;
}

.fuelinput h2 {
  margin-bottom: 30px;
}

.input {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
  width: 70%;
}

.input1 {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.submit_button {
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
